<%- include("partials/header.ejs"); %>

<h1>Home</h1>
<p><%= firstPar %> </p>

<% posts.forEach( (element) => { %>
  <% const text = element.text %>
  <h1><%=element.title %></h1>
  <p><%=text.substr(0, 100) + " ..." %>
    <a href="<%="/posts/" + element.title%>">Read More</a>
  </p>
<% }); %>


<%- include("partials/footer.ejs"); %>
